extends layout.pug

block content
  .my-4.mx-2.mx-sm-0
    .container
      h1
        span.text-primary Nifty&nbsp;Fifty
        +space
        span.text-secondary scenario&nbsp;pack
      p.
        ocalhoun's creating a really neat scenario pack for Roller Coaster Tycoon. I've been
        slowly playing through it, but finding the indivdual scenarios has been cumbersome.
        So until they're complete and they're released as a complete thing, here's the list mostly
        up to date:
      .progress
        .progress-bar(
          role='progressbar'
          aria-valuenow=scenarios.length
          aria-valuemax=50
          style="width:" + Math.floor(scenarios.length * (100 / 50)) + "%")
          each scenario, i in scenarios
            a(href='#scenario-' + (i + 1))
              img(rel="prerender" src=scenario.img)
              .text= scenario.title
  .mx-sm-4.row-grid
    each scenario, i in scenarios.slice().reverse()
      .card.bg-white.shadow-sm(id='scenario-' + (scenarios.length - i))
        .card-img.bg-dark
          a(href=scenario.gallery target='_blank' rel='noopener')
            img(rel="prerender" src=scenario.img)
          h5.card-title
            = scenario.title
        .card-body
          p.card-text
            = scenario.description
          .flex-grow-1
          .card-links
            each link in scenario.links
              a(href=link.href rel='noopener noreferrer' target='_blank')
                = link.title
